.Button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  background-color: #6c5ce7;
  border: none;
  padding: 0.8rem 1.2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #4834d4;
}

form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1.2rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}

input[type="submit"] {
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  background-color: #6c5ce7;
  border: none;
  padding: 0.8rem 1.2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover {
  background-color: #4834d4;
}

.table {
  border-collapse: collapse;
  width: 100%;
  color: black;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.table tr:nth-child(odd) {
  background-color: skyblue;
}
